


.App {
  display: flex;
  text-align: center;
}
.body{
  font-family: lemonMilk-regular;
}
#logo{
  margin-bottom: 3em;
  height: 55px;
}

.nav {
  background-color: #ffffff;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
.nav .nav-content {
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-family: lemonMilk-regular;
}
.nav-item {
  display: inline;
  margin: 2rem;
  color: #333;
  text-align: center;
}


.nav-item:hover {
  /* color: rgb(167, 83, 83); */
  font-family: lemonMilk-bold;
  cursor: pointer;
}

.section, .section-content{
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}
#work-content {
  margin: 3em;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 300px;
}
#about-content {
  max-width: 600px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: lemonMilk-regular;
}
#jobs{
  font-family: lemonMilk-light;
}
p{
  font-family: lemonMilk-regular;
}
#contact-bar {
  background-color: black;
  height: 5px;
  width: 200px;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  align-self: center;
  font-family: lemonMilk-regular;
  font-size: 70px;
  margin-bottom: 0;
}
#wwd{
  height: 95px;
  width: auto;
  align-self: center;
}

#wf-content{
  padding: 20px;
  margin-top: 2em;
  
}

#wwd-h1  {
  margin-top: 2em;
  font-size: 1.6em;
  font-family: lemonMilk-regular;
}
#wwd-content{
  width: 750px;
  justify-content: space-evenly;
  margin-bottom: 0;
  font-family: lemonMilk-light;
}
#wwd-col{
  font-size: large;
}
#wwd-col{
  text-align: center;
}

#wflow{
  display: flex;
  width: auto;
  height: 220px;
  align-items: center;
}
@media only screen and (max-width: 2560px) {
  #glass-c{
    margin-top: 40px;
    height: 800px;
    width: 1024px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #about-content {
    max-width: 1024px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: lemonMilk-regular;
  }
}
@media only screen and (max-width: 1920px) {
  #glass-c{
    margin-top: 40px;
    height: 640px;
    width: 900px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #about-content {
    max-width: 1024px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: lemonMilk-regular;
  }
}
@media only screen and (max-width: 1440px) {

  #glass-c{
    margin-top: 40px;
    height: 600px;
    width: 750px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
}

#welcome, #work, #contact {
  background-image: url('./media/WebPageBackground.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: 4;
  font-family: lemonMilk-regular;
}
.flow{
  align-items: flex-start;
  font-size: large;
  font-family: lemonMilk-regular;
}
#wf-col{
  font-size:  large;
  text-align: center;

}

.error-card {
  background-color: rgba(248, 243, 243, 0.4);
  color: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-radius: .3in;
  border-style: solid;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}

#home-p{
  text-align: center;
}

.signup{
  display: flex;
  justify-content: center;
}

#contact-h2 {
  font-family: lemonMilk-light;
}

.signup-card, .login-card{
  background-color: rgba(155, 146, 146, 0.5);
  color: darkred;
  width: 250px;
  display: inline-block;
  display: inline-table;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: .3in;
  border-style: solid;
  border-color: black;
}
#admin-card {
  background-color: rgba(155, 146, 146, 0.5);
  color: darkred;
  width: 500px;
  display: inline-block;
  display: inline-table;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: .3in;
  border-style: solid;
  border-color: black;
}
form {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.admin-input{
  text-align: center;
  width: 300px;
  border-radius: .2in;
  background-color: seashell;
}
.signup-input, .login-input{
  text-align: center;
  width: 200px;
  border-radius: .2in;
  background-color: seashell;
}
#signup-button, #login-button, #home-button, #abt-button, #contact-button, #wf-button {
  text-align: center;
  width: 80px;
  border-radius: .2in;
  background-color: seashell;
}
#logout-button{
  text-align: center;
  width: 100px;
  border-radius: .2in;
  background-color: seashell;
}


/* #glass-c{
  margin-top: 40px;
  height: 600px;
  border-radius: 1em;
}

.container-md {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  
}
.nav-links{
  display: flex;
  align-items: space-between;
}

#home, #work, #contact {
  background-image: url('./media/WebPageBackground.jpg');
  background-size: cover;
  z-index: 4;
  box-shadow: grey;
}
#wfheader{
  
  text-shadow: 1px 1px 2px black; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#wflow{
  display: flex;
  width: auto;
  height: 230px;
  align-self: center;
}



.App-link {
  color: #61dafb;
}
 */
