


.App {
  display: flex;
  text-align: center;
}
.body{
  display: flex;
  font-family: lemonMilk-regular;
}
#logo{
  margin-bottom: 3em;
  height: 55px;
}

.nav {
  background-color: #ffffff;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 43px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
/* #nav-img {
  height: 40px;
}
#nav-toggle:focus {
  outline: none;
}
#nav-toggle{

  background-color: rgba(248, 243, 243, 0);
  z-index: 1001;
  position: absolute;
  border: none;
} */
/* .navtoggle-div{

  position: relative;
} */
.nav .nav-content {

  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  position: relative;
  font-family: lemonMilk-regular;
}
.nav-item {
  display: inline;
  margin: 2rem;
  color: #333;
  text-align: center;
}

.nav-items{
  margin-top: 15px;
}


.nav-item:hover {
  /* color: rgb(167, 83, 83); */
  font-family: lemonMilk-bold;
  cursor: pointer;
}

.section, .section-content{
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}
#work-content {
  margin: 2em;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-column-gap: 200px;

}
#work-div, #work-p{
  word-wrap: normal;
}
#about-content {
  max-width: 600px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: lemonMilk-regular;
}
#jobs{
  word-wrap: normal;
  font-family: lemonMilk-light;
}
p{
  font-family: lemonMilk-regular;
}
#contact-bar {
  background-color: black;
  height: 5px;
  width: 200px;
  margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
  align-self: center;
  font-family: lemonMilk-regular;
  font-size: 70px;
  margin-bottom: 0;
}
#wwd{
  height: 95px;
  width: auto;
  align-self: center;
}

#wf-content{
  padding: 20px;
  margin-top: 2em;
  
}

#wwd-h1  {
  margin-top: 2em;
  font-size: 1.6em;
  font-family: lemonMilk-regular;
}
#wwd-content{
  width: 750px;
  justify-content: space-evenly;
  margin-bottom: 0;
  font-family: lemonMilk-light;
}
#wwd-col{
  font-size: large;
}
#wwd-col{
  text-align: center;
}

#wflow{
  display: flex;
  width: auto;
  height: 220px;
  align-items: center;
}
@media only screen and (max-width: 2560px) {
  #glass-c{
    margin-top: 40px;
    height: 800px;
    width: 1024px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #about-content {
    max-width: 1024px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: lemonMilk-regular;
  }
}
@media only screen and (max-width: 1920px) {
  #glass-c{
    margin-top: 40px;
    height: 640px;
    width: 900px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #about-content {
    max-width: 1024px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: lemonMilk-regular;
  }
}
@media only screen and (max-width: 1440px) {

  #glass-c{
    margin-top: 40px;
    height: 600px;
    width: 750px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
}

#welcome, #work, #contact {
  background-image: url('./media/WebPageBackground.jpg');
  background-size: cover;
  background-attachment: fixed;
  z-index: 4;
  font-family: lemonMilk-regular;
}
.flow{
  align-items: flex-start;
  font-size: large;
  font-family: lemonMilk-regular;
}
#wf-col{
  font-size:  large;
  text-align: center;

}

.error-card {
  background-color: rgba(248, 243, 243, 0.4);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-radius: .3in;
  border-style: solid;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
}

#home-p{
  text-align: center;
}

.signup{
  display: flex;
  justify-content: center;
}

#contact-h1 {
  margin-top: 2em;
}

#contact-h2, #contact-h1 {
  font-family: lemonMilk-light;
}

.signup-card, .login-card{
  background-color: rgba(155, 146, 146, 0.5);
  color: black;
  width: 250px;
  display: inline-block;
  display: inline-table;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: .3in;
  border-style: solid;
  border-color: black;
}
#admin-card {
  background-color: rgba(155, 146, 146, 0.5);
  color: black;
  width: 500px;
  display: inline-block;
  display: inline-table;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: .3in;
  border-style: solid;
  border-color: black;
}
#forms {
  margin-left: 4em;
  margin-right: 4em;
  display: block;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

input , textarea{
  font-size: medium;
}
input:focus, textarea:focus, #signup-button, #login-button, #home-button, #abt-button, #contact-button, #wf-button, #logout-button, .create-btn, #newbtn, .editbtn, .newbtn, #editbtn, .update-btn {
  outline: none;
}

.admin-input{
  text-align: center;
  width: 300px;
  border-radius: .2in;
  background-color: white;
  border-color: black;
  border-width: 1px;
}
.signup-input, .login-input{
  text-align: center;
  width: 200px;
  border-radius: .2in;
  background-color: white;
}
#signup-button, #login-button, #home-button, #abt-button, #contact-button, #wf-button {
  text-align: center;
  width: 80px;
  border-radius: .2in;
  background-color: white;
  font-size: medium;
}
#logout-button, .create-btn, #newbtn, .editbtn, .newbtn, #editbtn, .update-btn{
  text-align: center;
  width: 150px;
  border-radius: .2in;
  background-color: white;
  margin-bottom: 10px;
  font-size: medium;

}
#logout-button:hover, .create-btn:hover, #newbtn:hover, .editbtn:hover, .newbtn:hover, #editbtn:hover, .update-btn:hover, #signup-button:hover, #login-button:hover, #home-button:hover, #abt-button:hover, #contact-button:hover, #wf-button:hover{
  background-color: rgba(87, 82, 82, 0.4);
}

#footer {
  color: #000000;
  padding: 5px 0 5px 0;
}

  #footer a {
    color: #24a4ad;
  }
  #footer a:hover {
    color: #8224ad;
    text-decoration: none;
  }

  #footer strong, #footer b {
    color: #070606;
  }

  #footer .copyright {

    font-size: 1em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
    display: block;
  }



