@font-face {
  font-family: lemonMilk-bold;
  src: local('lemonMilk-bold'), url('media/fonts/LEMONMILK-Bold.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: lemonMilk-boldItalic;
  src: local('lemonMilk-boldItalic'), url('media/fonts/LEMONMILK-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: lemonMilk-light;
  src: local('lemonMilk-light'), url('media/fonts/LEMONMILK-Light.otf') format('opentype');
  font-weight: lighter;

}
@font-face {
  font-family: lemonMilk-lightItalic;
  src: local('lemonMilk-lightItalic'), url('media/fonts/LEMONMILK-LightItalic.otf') format('opentype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: lemonMilk-medium;
  src: local('lemonMilk-medium'), url('media/fonts/LEMONMILK-Medium.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: lemonMilk-mediumItalic;
  src: local('lemonMilk-mediumItalic'), url('media/fonts/LEMONMILK-MediumItalic.otf') format('opentype');
  font-weight: bolder;
  font-stye: italic;
}

@font-face {
  font-family: lemonMilk-regular;
  src: local('lemonMilk-regular'), url('media/fonts/LEMONMILK-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: lemonMilk-regularItalic;
  src: local('lemonMilk-regularItalic'), url('media/fonts/LEMONMILK-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

