
@media only screen and (min-width: 1920px) {

  .signup{
    align-self: center;
  }
  #forms {
    width: 250px;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #admin-card {
    width: 570px;
    display: flexbox;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: .3in;
    border-style: solid;
    border-color: black;
  }
  .admin-input{
    text-align: center;
    width: 400px;
    border-radius: .2in;
    background-color: white;
    border-color: black;
    border-width: 1px;
  }
  .nav {
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 2.5rem;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  }
  .nav-items{
    /* width: 100%; */
    margin-top: 0px;
    font-size: 1.3rem;
  }
  .nav-item {
    display: inline;
    margin: 1.5em;
    color: #333;
    text-align: center;
  }
  #logout-button{
    text-align: center;
    width: 6em;
    border-radius: .2in;
    background-color: white;
    font-size: medium;
    border-color: rgba(8, 8, 8, 0.4);
  }
  #logo{
    height: 3.5em;
  }
  #home-p{
    text-align: center;
    word-wrap: normal;
    width: 40rem;
  }
  #glass-c{
    margin-top: 40px;
    height: 750px;
    width: 950px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #wwd{
    height: 8rem;
    width: 58rem;
  }
  #wwd-h1 {
    font-size: 1.9em;
  }
  #about-content {
    font-size: 1.2em;
  }
  #wwd-col{
    font-size: 1.9rem;
  }
  #work-content {
    margin: 1em;
    grid-column-gap: 1.5em;
    grid-template-columns: 20em 20em;    
  }
  #work-div, #work-p{
    word-wrap: normal;
    font-size: large;
  }
  #wflow{
    height: 13em;
  }
  #wf-p{
    font-size: 1.4rem;
    text-align: center;
  }
  .row {
    flex-wrap: nowrap;
  }
  #wf-col{
    font-size: 1.4rem;
    padding-left: 0.5em;
    padding-right: 0.5em;

  }

  h1{
    font-size: 6rem;
  }
  h2{
    font-size: xx-large;
  }
  html{
    width: 100%
  }
  .body{
    width:100%;
  }
  #footer{
    font-size: 1.3rem;
  }
    
}
@media only screen and (min-width: 1201px) and (max-width: 1919px) {

  .signup{
    align-self: center;
  }
  #forms {
    width: 450px;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #admin-card {
    width: 570px;
    display: flexbox;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: .3in;
    border-style: solid;
    border-color: black;
  }
  .admin-input{
    text-align: center;
    width: 400px;
    border-radius: .2in;
    background-color: white;
    border-color: black;
    border-width: 1px;
  }
  .nav {
    background-color: #ffffff;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 2.5rem;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  }
  .nav-items{
    /* width: 100%; */
    margin-top: 0px;
    font-size: 1.3rem;
  }
  .nav-item {
    display: inline;
    margin: 1.5em;
    color: #333;
    text-align: center;
  }
  #logout-button{
    text-align: center;
    width: 6em;
    border-radius: .2in;
    background-color: white;
    font-size: medium;
    border-color: rgba(8, 8, 8, 0.4);
  }
  #logo{
    height: 3em;
  }
  #home-p{
    /* text-align: center; */
    word-wrap: normal;
    width: 40rem;
  }
  #glass-c{
    margin-top: 40px;
    height: 550px;
    width: 750px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #wwd{
    height: 6rem;
    width: 42rem;
    margin: 0;
  }
  #wwd-content {
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: lemonMilk-light;
  }
  #wwd-col{
    font-size: large;
  }
  #work-content {
    margin: 1em;
    grid-column-gap: 1.5em;
    grid-template-columns: 13em 13em;    
  }
  #work-div, #work-p{
    word-wrap: normal;
    font-size: large;
  }
  #wflow{
    height: 10em;
  }
  #wf-p{
    text-align: center;
  }
  .row {
    flex-wrap: nowrap;
  }
  #wf-col{
    font-size: 1.3rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  h1{
    font-size: 6rem;
  }
  h2{
    font-size: xx-large;
  }
  html{
    width: 100%
  }
  .body{
    width:100%;
  }
  #footer{
    font-size: 1.5rem;
  }
    
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {

  .signup{
    align-self: center;
  }
  #forms {
    width: 400px;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #admin-card {
    width: 570px;
    display: flexbox;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: .3in;
    border-style: solid;
    border-color: black;
  }
  .admin-input{
    text-align: center;
    width: 400px;
    border-radius: .2in;
    background-color: white;
    border-color: black;
    border-width: 1px;
  }
  .nav-items{
    /* width: 100%; */
    font-size: 1.3rem;
  }
  .nav-item {
    display: inline;
    margin: 1.5em;
    color: #333;
    text-align: center;
  }
  #logout-button{
    text-align: center;
    width: 6em;
    border-radius: .2in;
    background-color: white;
    font-size: medium;
    border-color: rgba(8, 8, 8, 0.4);
  }
  #logo{
    height: 2em;
  }
  #home-p{
    text-align: center;
    word-wrap: normal;
    width: 40rem;
  }
  #glass-c{
    margin-top: 40px;
    height: 550px;
    width: 750px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #wwd{
    height: 6rem;
    width: 42rem;
    margin: 0;
  }
  #wwd-content {
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: lemonMilk-light;
  }
  #wwd-col{
    font-size: large;
  }
  #work-content {
    margin: 1em;
    grid-column-gap: 1.5em;
    grid-template-columns: 13em 13em;    
  }
  #work-div, #work-p{
    word-wrap: normal;
    font-size: large;
  }
  #wflow{
    height: 10em;
  }
  #wf-p{
    text-align: center;
  }
  .row {
    flex-wrap: nowrap;
  }
  #wf-col{
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;

  }

  h1{
    font-size: 6rem;
  }
  h2{
    font-size: xx-large;
  }
  html{
    width: 140%;
  }
  .body{
    width:100%;
  }

    
}
@media only screen and (min-width: 900px) and (max-width: 999px) {

  .signup{
    align-self: center;
  }
  #forms {
    width: 250px;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #admin-card {
    width: 470px;
    display: flexbox;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: .3in;
    border-style: solid;
    border-color: black;
  }
  .admin-input{
    text-align: center;
    width: 300px;
    border-radius: .2in;
    background-color: white;
    border-color: black;
    border-width: 1px;
  }
  .nav-items{
    /* width: 100%; */
    font-size: 1rem;
  }
  .nav-item {
    display: inline;
    margin: 1.5em;
    color: #333;
    text-align: center;
  }
  #logout-button{
    text-align: center;
    width: 6em;
    border-radius: .2in;
    background-color: white;
    font-size: medium;
    border-color: rgba(8, 8, 8, 0.4);
  }
  #logo{
    height: 2em;
  }
  #home-p{
    text-align: center;
    word-wrap: normal;
    width: 40rem;
  }
  #glass-c{
    margin-top: 40px;
    height: 350px;
    width: 500px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #wwd{
    height: 6rem;
    width: 42rem;
    margin: 0;
  }
  #wwd-content {
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: lemonMilk-light;
  }
  #wwd-col{
    font-size: large;
  }
  #work-content {
    margin: 1em;
    grid-column-gap: 1em;
    grid-template-columns: 10em 10em;    
  }
  #work-div, #work-p{
    word-wrap: normal;
    font-size: small;
  }
  #wflow{
    height: 9em;
  }
  #wf-p{
    text-align: center;
  }
  .row {
    flex-wrap: nowrap;
  }
  #wf-col{
    font-size: 1.1rem;
    padding-left: 0.5em;
    padding-right: 0.5em;

  }

  h1{
    font-size: 3rem;
  }
  h2{
    font-size: large;
  }
  html{
    width: 120%
  }
  .body{
    width:100%;
  }
  #footer{
    font-size: 1.2rem;
  }
    
}
@media only screen and (min-width: 768px) and (max-width: 899px) {
  .signup{
    align-self: center;

  }
  #forms {
    width: 350px;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #admin-card {
    width: 470px;
    display: flexbox;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: .3in;
    border-style: solid;
    border-color: black;
  }
  .admin-input{
    text-align: center;
    width: 300px;
    border-radius: .2in;
    background-color: white;
    border-color: black;
    border-width: 1px;
  }
  .nav-items{
    /* width: 100%; */
    font-size: 1.2rem;
  }
  .nav-item {
    display: inline;
    margin: 1.5em;
    color: #333;
    text-align: center;
  }
  #logout-button{
    text-align: center;
    width: 8em;
    border-radius: .2in;
    background-color: white;
    font-size: medium;
    border-color: rgba(8, 8, 8, 0.4);
  }
  #logo{
    height: 4em;
  }
  #home-p{
    text-align: center;
    word-wrap: normal;
    width: 40rem;
  }
  #glass-c{
    margin-top: 40px;
    height: 450px;
    width: 650px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #wwd{
    height: 5rem;
    width: 32rem;
    margin: 0;
  }
  #wwd-content {
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: lemonMilk-light;
  }
  #wwd-col{
    font-size: medium;
    padding-left: 0px;
  }
  #work-content {
    margin: 1em;
    grid-column-gap: 2.5em;
    grid-template-columns: 15em 15em;    
  }
  #work-div, #work-p{
    word-wrap: normal;
    font-size: large;
  }
  #wflow{
    height: 8em;
  }
  #wf-p{
    text-align: center;
  }
  .row {
    flex-wrap: nowrap;
  }
  #wf-col{
    font-size: 1rem;
    padding-left: 0.5em;
    padding-right: 0.5em;

  }

  h1{
    font-size: 5.5rem;
  }
  h2{
    font-size: x-large;
  }
  html{
    width: 140%
  }
  .body{
    width: 100%;
  }
  #footer {
    font-size: 1.3rem;
  }

}
@media only screen and (min-width: 600px) and (max-width: 767px) {

  .signup{
    align-self: center;
  }
  #forms {
    width: 300px;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #admin-card {
    width: 470px;
    display: flexbox;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: .3in;
    border-style: solid;
    border-color: black;
  }
  .admin-input{
    text-align: center;
    width: 300px;
    border-radius: .2in;
    background-color: white;
    border-color: black;
    border-width: 1px;
  }
  .nav-items{
    /* width: 100%; */
    font-size: .7rem;
  }
  .nav-item {
    display: inline;
    margin: 1.5em;
    color: #333;
    text-align: center;
  }
  #logout-button{
    text-align: center;
    width: 6em;
    border-radius: .2in;
    background-color: white;
    font-size: x-small;
    border-color: rgba(8, 8, 8, 0.4);
  }
  #logo{
    height: 2.3em;
  }
  #home-p{
    text-align: center;
    word-wrap: normal;
    width: 30rem;
  }
  #glass-c{
    margin-top: 40px;
    height: 300px;
    width: 450px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #wwd{
    height: 3.5rem;
    width: 22rem;
    margin: 0;
  }
  #wwd-content {
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: lemonMilk-light;
  }
  #wwd-col{
    font-size: x-small;
  }
  #work-content {
    margin: 1em;
    grid-column-gap: 1em;
    grid-template-columns: 10em 10em;    
  }
  #work-div, #work-p{
    word-wrap: normal;
    font-size: small;
  }
  #wflow{
    height: 7.5em;
  }
  #wf-p{
    text-align: center;
  }
  .row {
    flex-wrap: nowrap;
  }
  #wf-col{
    font-size: .7rem;
    padding-left: 0.5em;
    padding-right: 0.5em;

  }

  h1{
    font-size: 3rem;
  }
  h2{
    font-size: large;
  }
  html{
    width: 100%
  }
  .body{
    width:100%;
  }
  #footer{
    font-size: 1.1rem;
  }

    
}
@media only screen and (max-width: 500px) and (max-width: 599px) {

  .signup{
    align-self: center;
  }
  #forms {
    width: 200px;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #admin-card {
    width: 370px;
    display: flexbox;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: .3in;
    border-style: solid;
    border-color: black;
  }
  .admin-input{
    text-align: center;
    width: 200px;
    border-radius: .2in;
    background-color: white;
    border-color: black;
    border-width: 1px;
  }
  .nav-items{
    /* width: 100%; */
    font-size: .6rem;
  }
  .nav-item {
    display: inline;
    margin: 1.5em;
    color: #333;
    text-align: center;
  }
  #logout-button{
    text-align: center;
    width: 6em;
    border-radius: .2in;
    background-color: white;
    font-size: x-small;
    border-color: rgba(8, 8, 8, 0.4);
  }
  #home-p{
    text-align: center;
    word-wrap: normal;
    width: 28rem;
  }
  #glass-c{
    margin-top: 40px;
    height: 300px;
    width: 400px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #wwd{
    height: 4rem;
    width: 22rem;
    margin: 0;
  }
  #wwd-content {
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: lemonMilk-light;
  }
  #wwd-col{
    font-size: x-small;
  }
  #work-content {
    margin: 1em;
    grid-column-gap: 1em;
    grid-template-columns: 10em 10em;    
  }
  #work-div, #work-p{
    word-wrap: normal;
    font-size: small;
  }
  #wflow{
    height: 5em;
  }
  #wf-p{
    text-align: center;
  }
  .row {
    flex-wrap: nowrap;
  }
  #wf-col{
    font-size: 8px;
    padding-left: 0.5em;
    padding-right: 0.5em;

  }

  h1{
    font-size: 3rem;
  }
  h2{
    font-size: large;
  }
  html{
    width: 105%
  }
  .body{
    width:100%;
  }
 #footer{
   font-size: 1em;
 }

    
}
@media only screen and (max-width: 400px) and (max-width: 499px) {
  .signup{
    align-self: center;

  }
  #forms {
    width: 200px;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #admin-card {
    width: 370px;
    display: flexbox;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: .3in;
    border-style: solid;
    border-color: black;
  }
  .admin-input{
    text-align: center;
    width: 200px;
    border-radius: .2in;
    background-color: white;
    border-color: black;
    border-width: 1px;
  }
  .nav-items{
    /* width: 100%; */
    font-size: .5rem;
  }
  .nav-item {
    display: inline;
    margin: 1.5em;
    color: #333;
    text-align: center;
  }
  #logout-button{
    text-align: center;
    width: 6em;
    border-radius: .2in;
    background-color: white;
    font-size: x-small;
    border-color: rgba(8, 8, 8, 0.4);
  }
  #home-p{
    text-align: center;
    word-wrap: normal;
    width: 20rem;
  }
  #glass-c{
    margin-top: 40px;
    height: 200px;
    width: 350px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #wwd{
    height: 3.5rem;
    width: 21rem;
    margin: 0;
  }
  #wwd-content {
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: lemonMilk-light;
  }
  #wwd-col{
    font-size: x-small;
  }
  #work-content {
    margin: 1em;
    grid-column-gap: 1em;
    grid-template-columns: 10em 10em;    
  }
  #work-div, #work-p{
    word-wrap: normal;
    font-size: small;
  }
  #wflow{
    height: 5em;
  }
  #wf-p{
    text-align: center;
  }
  .row {
    flex-wrap: nowrap;
  }
  #wf-col{
    font-size: 8px;
    padding-left: 0.5em;
    padding-right: 0.5em;

  }

  h1{
    font-size: 3rem;
  }
  h2{
    font-size: large;
  }
  html{
    width: 100%
  }
  .body{
    width:100%;
  }

}
@media only screen and (min-width: 321px) and (max-width: 399px) {
  .signup{
    align-self: center;

  }
  #forms {
    width: 200px;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #admin-card {
    width: 370px;
    display: flexbox;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: .3in;
    border-style: solid;
    border-color: black;
  }
  .admin-input{
    text-align: center;
    width: 200px;
    border-radius: .2in;
    background-color: white;
    border-color: black;
    border-width: 1px;
  }
  .nav-items{
    /* width: 100%; */
    font-size: .9rem;
  }
  .nav-item {
    display: inline;
    margin: 1em;
    color: #333;
    text-align: center;
  }
  #logout-button{
    text-align: center;
    width: 6.3em;
    border-radius: .2in;
    background-color: white;
    font-size: xx-small;
    border-color: rgba(8, 8, 8, 0.4);
  }
  #logo{
    height: 3em;
  }
  #home-p{
    text-align: center;
    word-wrap: normal;
    width: 20rem;
  }
  #glass-c{
    margin-top: 40px;
    height: 300px;
    width: 450px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #wwd{
    height: 4rem;
    width: 29.5rem;
    margin-left: 14px;
  }
  #wwd-content {
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: lemonMilk-light;
  }
  #wwd-col{
    font-size: small;
  }
  #work-content {
    margin: 1.5em;
    grid-column-gap: .5em;
    grid-template-columns: 10em 10em;    
  }
  #work-div, #work-p{
    word-wrap: normal;
    font-size: small;
  }
  #wflow{
    height: 8em;
  }
  #wf-p{
    text-align: center;
  }
  .row {
    flex-wrap: nowrap;
  }
  #wf-col{
    font-size: .7em;
    padding-left: 0.5em;
    padding-right: 0.5em;

  }

  h1{
    font-size: 3rem;
  }
  h2{
    font-size: large;
  }
  html{
    width: 190%;
  }
  .body{
    width:100%;
  }
  #footer{
    font-size: 1rem;;
  }
}
@media only screen and (max-width: 320px) {
  .signup{
    align-self: center;

  }
  #forms {
    margin-left: 2em;
    margin-right: 2em;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #admin-card {
    width: 290px;
    display: flexbox;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-radius: .3in;
    border-style: solid;
    border-color: black;
  }
  .admin-input{
    text-align: center;
    width: 200px;
    border-radius: .2in;
    margin-right: 3em;
    background-color: white;
    border-color: black;
    border-width: 1px;
  }
  .nav-items{
    /* width: 100%; */
    font-size: .2rem;
  }
  .nav-item {
    display: inline;
    margin: 1.5em;
    color: #333;
    text-align: center;
  }
  #logout-button{
    text-align: center;
    width: 6.3em;
    border-radius: .2in;
    background-color: white;
    font-size: xx-small;
    border-color: rgba(8, 8, 8, 0.4);
  }
  #logo{
    height: 3em;
  }
  #home-p{
    text-align: center;
    word-wrap: normal;
    width: 20rem;
  }
  #glass-c{
    margin-top: 40px;
    height: 200px;
    width: 300px;
    border-radius: 1em;
    align-self: center;
    box-shadow: 5px 5px 6px 0px rgba(75, 74, 74, 0.5);
  }
  #wwd{
    height: 3rem;
    width: 19.5rem;
    margin: 0;
  }
  #wwd-h1  {
    margin-top: 2em;
    font-size: 1.5em;
    font-family: lemonMilk-regular;
  }
  #wwd-content {
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: lemonMilk-light;
  }
  #wwd-col{
    font-size: xx-small;
  }
  #about-content {
    font-size: .9em;
  }
  #work-content {
    margin: 1.5em;
    grid-column-gap: 2.5em;
    grid-template-columns: 8em 8em;    
  }
  #work-div, #work-p{
    word-wrap: normal;
    font-size: small;
  }
  #wflow{
    height: 5em;
  }
  #wf-p{
    text-align: center;
  }
  .row {
    flex-wrap: nowrap;
  }
  #wf-col{
    font-size: 7px;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: large;
  }
  html{
    width: 120%
  }
  .body{
    width:100%;
  }
}

